.idea/encodings.xml
.idea/lusoon2.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/jianghui.xml
.idea/shelf/Default_Changelist.xml
.idea/shelf/Default_Changelist1.xml
.idea/shelf/Default_Changelist2.xml
.idea/shelf/Default_Changelist3.xml
.idea/shelf/Default_Changelist4.xml
.idea/shelf/Default_Changelist/shelved.patch
.idea/shelf/Default_Changelist1/shelved.patch
.idea/shelf/Default_Changelist2/shelved.patch
.idea/shelf/Default_Changelist3/shelved.patch
.idea/shelf/Default_Changelist4/shelved.patch
